html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', arial, sans-serif; 
}

.container {
  width: 100%;
  max-width: 768px;
  padding: 16px 0;
  margin: 16px auto;
  background: #f3f3f3;
  border-radius: 6px;
}

#app {
  margin: 0 auto;
  width: 70%;
}

textarea {
  margin: 0 auto 16px;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: inherit;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 0 1px 6px 0 #DCDEE3;
  border-radius: 6px;
}

.btn--submit {
  display: block;
  margin: 0 auto 16px;
  border-radius: 6px;
  padding: 8px 12px;
  background: #1E9CC0;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
.message__container {
  padding: 12px;
  font-size: 14px;
  background: white;
}

.timeStamp {
  color:grey;
}